*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Axiforma", sans-serif;
}

button{
	cursor: pointer;
}

button:focus
{
	outline: 0;
	border: none;
}

.btn-enviando{
	display: none;
}

.btn-enviando .opened{
	display: flex;
}

.hiden{
	display: none;
}

/*************************** inputs **********************************/
.wrapper-input{
	border: 1px solid #D5D5D5;
	box-sizing: border-box;
	padding: 15px 20px;
	border-radius: 10px;
}
input{
	font-family: 'Axiforma', sans-serif;
	font-size: 14px;
	color: #B1B1B1;
	border: none;
	width: 100%;
}

input:focus{
	outline: 0;
    background: transparent;
}

::-webkit-input-placeholder {
    color: #B1B1B1;
	font-size: 14px;
	font-family: 'Axiforma', sans-serif;
}

:-moz-placeholder {
    color: #B1B1B1;
	font-size: 14px;
	font-family: 'Axiforma', sans-serif;
}

::-moz-placeholder {
    color: #B1B1B1;
	font-size: 14px;
	font-family: 'Axiforma', sans-serif;
}

:-ms-input-placeholder {
    color: #B1B1B1;
	font-size: 14px;
	font-family: 'Axiforma', sans-serif;
}

textarea{
	resize: none;
	border: none;
	font-family: 'Axiforma', sans-serif;
	color: #B1B1B1;
	font-size: 14px;
	width: 100%;
	height: 150px;
}

select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputFile{
	display: none;
}

.btn-upload{
	padding: 5px 10px;
	cursor: pointer;
}

.wrapper-input span{
	margin-left: 20px;
	color: #b1b1b1;
}

.trumbowyg-editor{
	resize: none;
	border: none;
	font-family: 'Axiforma', sans-serif;
	color: #B1B1B1 !important;
	font-size: 14px !important;
	width: 100%;
	height: 150px;
}

.trumbowyg-box
{
	border-radius: 10px;
}

.trumbowyg-button-pane{
	border-radius: 10px 10px 0 0;
}
.trumbowyg-editor textarea
{
	resize: none;
	border: none;
	font-family: 'Axiforma', sans-serif;
	color: #B1B1B1 !important;
	font-size: 14px !important;
	width: 100%;
	height: 150px;
}
.trumbowyg-editor p
{
	font-size: 14px;
	font-family: 'Axiforma', sans-serif;
	color: #B1B1B1;
}
/*********************************************************************************/
body{
	background: #F7FAFF;
}

.grid::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0px;
	float: none;
}

button{
	border: none;
}

a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Axiforma', sans-serif;
	color: #080808;
}

i{
	display: inline-block;
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin:0 auto;
	padding:0 2%;
}

header{
	height: 80px;
	width: 100%;
	position: absolute;
	top: 0;
	background: #FFF;
	display: flex;
	align-items: center;
}

.logo{
	float: left;
	color: white;
}
.logo-icon{
	background: url('../../common/images/Logo.png');
	width: 130px;
	height: 38px;
}

nav{
	position: relative;
	float: right;
}

nav a{
	color: #080808;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	padding: 0 15px;
}


a.btn-login{
	width: 100px;
	height: 38px;
	border-radius: 100px;
}

.btn-bg-blue{
	background: #366ABA;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: .3s;
}

.btn-bg-blue:hover{
	background: #DEF1FE;
	color: #080808;
}

.chamada{
	text-transform: uppercase;
	padding: 40px 15px;
	background: #1e88e5;
	text-align: center;
}

.chamada h2{
	text-align: center;
	width: 400px;
	display: inline-block;
	color: white;
	border-top:3px solid white; 
}

.dashboard.principal{
	padding-top: 140px;
}
.principal h1{
	font-family: 'Axiforma', sans-serif;
	color: #282828;
	font-size: 32px;
	font-weight: 300;
}
.principal h2{
	color: #4b4b4b;
	font-size: 22px;
	font-weight:normal;
	text-transform: uppercase;
}

.sobre p{
	margin-top:15px;
	font-size: 16px;
	color: #4b4b4b;
}

.modal{
	display: none;
}

.modal h2{
	margin-bottom: 20px;
}

.modal .wrapper-input{
	margin-bottom: 15px;
}

/************************ HOME ****************************/
.main-div{
	padding: 80px 0;
}
.banner-box img{
	width: 100%;
}

.owl-carousel
{
	position: relative;
}

.owl-nav.disabled{
	display: block !important;
}

.owl-nav{
	position: absolute;
	right: 25px;
	bottom: 180px;
}

.owl-dots.disabled{
	display: block;
	
}

.owl-dots{
	position: absolute;
	top: 200px;
	right: 20px;
}

.owl-dots.disabled
{
	display: block !important;
}

.owl-dot{
	border: 1px solid #FFF !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 31px;
	height: 31px;
	border-radius: 100%;
	margin-bottom: 30px;
}

.owl-dot.active{
	border: 1px solid #355ABA !important;
}

.owl-dot span{
	width: 14px;
	height: 14px;
	background: #FFF !important;
	border-radius: 100%;
	display: inline-block;
	padding: 9px;
}

.owl-dot.active span{
	background: #366ABA !important;
}

.owl-prev{
	display: flex;
	margin-bottom: 20px;
}

.owl-next{
	display: flex;
}

.spt-arrow-prev{
	background: url('../../common/images/arrow-prev.png');
	width: 14px;
	height: 7px;
}

.spt-arrow-next{
	background: url('../../common/images/arrow-next.png');
	width: 14px;
	height: 7px;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 20px;
}

.page-title{
	font-weight: 300;
	text-align: center;
	margin-top: 80px;
}

.page-title h1{
	margin-bottom: 20px;
}
.banner-item{
	width: 100% !important;
	height: 770px;
	position: relative;
}

.banner-item .center{
	position: relative;
}

.box-button-video a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.button-video{
	background: url('../../common/images/button-video.png');
	width: 106px;
	height: 106px;
	display: inline-block;
	background-size: cover;
}

.text-banner{
	position: absolute;
	max-width: 570px;
	width: 100%;
	top: 200px;
}

.banner-item p{
	font-size: 52px;
}


.box-busca
{
	box-sizing: border-box;
	padding: 40px;
	-webkit-box-shadow: 0px 0px 20px 1px #A6AEBA; 
	box-shadow: 0px 0px 20px 1px #A6AEBA;
	border-radius: 10px;
	margin-top: 40px;
	background: #fff;
}

.border-item{
	width: 162px;
	height: 4px;
	background: #366ABA;
	margin-top: 10px;
	margin-bottom: 30px;
}

.viagens-estado{
	margin-top: 80px;
}

.box-estados{
	margin-top: 20px;
	position: relative;
}

.box-estados .owl-nav{
	bottom: 35px;
	right: 0;
}

.box-estados .owl-dots{
	display: none !important;
}

.box-estados .owl-prev{
	display: inline-flex;
	margin-right: 10px;
}

.box-estados .owl-next{
	display: inline-flex;
}

.box-estados .spt-arrow-prev{
	transform: rotate(-90deg);
}
.box-estados .spt-arrow-next{
	transform: rotate(-90deg);
}

.estados-item{
	display: inline-flex;
	width: 150px;
	height: 38px;
	justify-content: center;
	align-items: center;
	color: #366ABA;
	border: 1px solid #366ABA;
	border-radius: 100px;
	transition: .3s;
}

.estados-item:hover{
	background-color: #366ABA;
	color: #FFF;
}

.estados-item.active{
	background-color: #366ABA;
	color: #FFF;
}

.principais-viagens{
	margin-top: 80px;
}

.box-viagens-item{
	width: 25%;
	box-sizing: border-box;
	padding: 15px;
	float: left;
}

.pub-link{
	width: 100%;
	height: 114px;
	box-sizing: border-box;
	padding: 20px 20px;
	background: #FFF;
	border-radius: 10px;
	position: relative;
}

.pub-link h4{
	line-height: 25px;
}

.pub-link .border-item{
	position: absolute;
	left: 20px;
	bottom: 0px;
}

.box-viagens-item .border-item{
	width: 75px;
}

/************************ PUBLICACAO **********************/
.publicacao .banner-box
{
	background: #DEF1FE;
	box-sizing: border-box;
	padding: 150px 0;
	position: relative;
}

.publicacao .banner-box .center{
	position: relative;
}

.publicacao .banner-box h1{
	font-family: 'Merriweather';
	font-size: 64px;
	width: 570px;
}

.box-video{
	width: 540px;
	height: 650px;
	position: absolute;
	top: 0;
	right: 50px;
}

iframe{
	width: 540px !important;
	height: 650px !important;
	border-radius: 20px;
}

.conteudo-publicacao .center{
	max-width: 820px;
	width: 100%;
}

.box-autor{
	margin-top: 20px;
}

.box-autor span{
	font-weight: bold;
}

.conteudo-publicacao{
	margin-top: 300px;
}
.conteudo-publicacao p{
	margin-bottom: 15px;
}
.conteudo-publicacao ul{
	list-style: none;
}
/************************ LOGIN ***************************/
.login-container{
	width: 394px;
	height: 435px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.login-content{
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	padding: 30px 40px 40px 40px; 
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px 1px #A6AEBA; 
	box-shadow: 0px 0px 20px 1px #A6AEBA;
	text-align: center;
	position: relative;
}

.return-button{
	position: absolute;
	left: 0;
	top: -40px;
}

.arrow-back{
	background: url('../../common/images/arrow-back.png');
	width: 20px;
	height: 18px;
}

.login-content h1{
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}

.login-content p{
	margin-bottom: 30px;
	font-size: 14px;
}

.login-content .wrapper-input{
	margin-bottom: 15px;
	position: relative;
	padding: 15px 45px 15px 20px;
}

.email-icon{
	background: url('../../common/images/email.png');
	width: 16px;
	height: 12px;
	position: absolute;
	right: 22px;
	top: 19px;
}

.locker-icon{
	background: url('../../common/images/locker.png');
	width: 12px;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 17px;
}

.login-content a{
	color: #366ABA;
}

.btn-entrar{
	width: 100%;
	height: 46px;
	border-radius: 10px;
	font-size: 14px;
}

.forgot-password{
	margin-top: 15px;
	font-size: 14px;
}

.login-container .logo{
	text-align: center;
	float: none;
	margin-top: 20px;
}

.box-msg{
	box-sizing: border-box;
	display: none;
	padding: 20px;
	position: fixed;
	top: 50px;
	right: 20px;
	max-width: 300px;
}

.box-msg.success{
	display: inline-block;
	border: 1px solid #267244;
	background: #7fd4a0;
	color: #267244;
	z-index: 99999;
}

.box-msg.alert{
	display: inline-block;
	border: 1px solid #f34761;
	background: #f78797;
	color: #f34761;
	z-index: 99999;
}

/**************************** Dashboard ******************************/
.admin-center{
	max-width: 848px;
	width: 100%;
	margin: 0 auto;
}

.links-container{
	
	margin-top: 80px;
}

.links-container .box-link{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 15px;
}

.links-container .box-link a{
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px 1px #A6AEBA; 
	box-shadow: 0px 0px 20px 1px #A6AEBA;
	transition: .3s;
}

.links-container .box-link a:hover{
	transform: scale(0.96);
}

.breadcrumb{
	width: 100%;
	height: 56px;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	background: #F4F4F4;
	border-radius: 10px;
	margin-top: 40px;
}

.arrow-breadcrumb{
	background: url('../../common/images/arrow-right.png');
	width: 5px;
	height: 10px;
	margin: 0 10px;
}

.breadcrumb a{
	color: #366ABA;
	font-weight: bold;
}

.breadcrumb span{
	font-weight: 200;
}

.dashboard .page-content{
	margin-top: 40px;
	background: #FFF;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 40px;
	margin-bottom: 40px;
}

.dashboard .page-content .btn-adicionar{
	width: 185px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px;
}

.dashboard .wrapper-input{
	margin: 15px 0;
}

.btn-green{
	background-color: #4CAF50;
	color: #FFF;
	border-radius: 100px;
}

.dashboard .btn-save{
	width: 185px;
    height: 38px;
    display: flex;
    align-items: center;
	justify-content: center;
	font-size: 16px;
	margin-top: 15px;
	display: inline-block;
}

.dashboard table{
	width: 100%;
	font-family: 'Axiforma', sans-serif;
	border-collapse: collapse;
}

.dashboard table th{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #282828;
	padding: 0 20px;
}

.dashboard table td{
	padding: 0 20px;
}

.dashboard table tr{
	height: 50px;
}

.dashboard table tr:nth-child(even){
	background-color: #fff;
}

.dashboard table tr:nth-child(odd){
	background-color: #F5F5F5;
}

.dashboard table tr:first-child{
	background: #FFF;
}

.btn-excluir{
	background: url('../../common/images/exclude-icon.png');
	width: 17px;
	height: 17px;
}

.btn-editar{
	background: url('../../common/images/edit-icon.png');
	width: 14px;
	height: 14px;
	margin-left: 10px;
}

.box-alterar-senha.right{
	text-align: right;
}

.box-alterar-senha.right a{
	color: #366ABA;
}

#exclude-modal{
	display: none;
	text-align: center;
}

.btn-modal{
	width: 100px;
	height: 38px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 30px 15px 0 15px;
}

.btn-red{
	background: #fc3e4f;
	color: #fff;
	border-radius: 100px;
}

.formulario-anexo{
	border-top: .5px solid #b1b1b1;
	margin-top: 40px;
}

.formulario-anexo p{
	margin-top: 20px;
	color: #282828;
}


/************ selects styles **************************/

.ui-selectmenu-button.ui-button{width: 100% !important;}
.ui-button{
    border: none;
    background: transparent;
    font-weight: normal;
    color: #B1B1B1;
    padding: 0;
    margin: 0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{border: none; color: #B1B1B1 !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background: transparent !important; border: none !important;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{color: #2d3037 !important;}
.ui-button:hover, .ui-button:focus{
    border: none;
    background: transparent !important;
    font-weight: normal !important;
    color: #B1B1B1 !important;
    width: 100%;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    /*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);*/
    background-position: 100% center;
    background-repeat: no-repeat;
    font-family: 'Axiforma', sans-serif;
    font-size: 18px;
    line-height: normal;
    border-radius: 0;

    cursor: pointer;
}

.ui-widget-content{
	color: #B1B1B1 !important;
}
.ui-selectmenu-text{
	color: #B1B1B1;
	font-size: 14px;
}
.ui-selectmenu-button.ui-button{width: 100%;}
.ui-button{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    font-weight: normal;
    color: #B1B1B1;
    padding: 0 !important;
    margin: 0;
}

.ui-selectmenu-icon.ui-icon{
	float: none !important;
	position: absolute;
	right: 20px;
	top: 4.2px;
}

.ui-button:hover, .ui-button:focus{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent !important;
    font-weight: normal !important;
    color: #B1B1B1 !important;
    width: 100%;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    /*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);*/
    background-position: 100% center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #fff;
    font-family: 'Axiforma', sans-serif;
    font-size: 14px;
    line-height: normal;
    border-radius: 0;

    cursor: pointer;
}
.ui-widget-content{color: #2d3037;}
.ui-widget{font-size: 16px !important; font-family: 'Axiforma', sans-serif !important;}
.ui-selectmenu-text{margin: 0;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: #dfdfdf !important;
    border: none !important;
	color: #B1B1B1 !important;
	font-size: 14px !important;
}
.ui-button .ui-icon{background: none;  width: 0; height: 0; border: 5px solid; border-color: #B1B1B1 transparent transparent transparent; margin: 8px 10px 0 0;}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{margin: 0 !important;}
.ui-selectmenu-button{padding: 5px 0; width: 100%;}
span:focus{outline: none;}

.ui-widget.ui-widget-content{
	height: 133.3px !important;
	font-size: 14px !important;
}

.ui-menu .ui-menu-item-wrapper{
	padding: 13px 1em 13px .4em !important;
}

select:focus,
textarea:focus,
button:focus {
    outline: none;
}


footer{
	
	width: 100%;
	padding:20px 0;
	text-align: center;
	color: white;
	background: #42a5f5;
}

.alerta{
	margin:10px 0;
	border-left: 4px solid #4b4b4b;
	background: rgb(225,225,225);
	padding: 8px;
}

.alerta h3{
	font-size: 18px;
	font-weight: normal;
	color: #4b4b4b;
}